@font-face {
    font-family: 'SFUI';
    src: url('SF-UI-Display-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'SFUI';
    src: url('SF-UI-Text-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'SFUI';
    src: url('SF-UI-Display-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'SFUI';
    src: url('SF-UI-Text-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'SFUI';
    src: url('SF-UI-Text-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SFUI';
    src: url('SF-UI-Display-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'SFUI';
    src: url('SF-UI-Display-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'SFUI';
    src: url('SF-UI-Display-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Gothic one';
    src: url('DelaGothicOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
