.item {
    flex-basis: 48%;
    position: relative;

    .content {
        position: absolute;
        padding: 0 5px;
        height: 85%;
        top: 3%;
        left: 0;
        .counter {
            font-family: 'Gothic one';
            font-size: 11px;
        }
        .divider {
            display: block;
            height: 100%;
            border: 1px solid white;
        }
    }

}
