.item {
    flex-basis: 176px;
    position: relative;
    margin-bottom: 8px;
    .content {
        position: absolute;
        padding: 0 7px;
        height: 85%;
        top: 3%;
        left: 0;

        .counter {
            font-family: 'Gothic one';
            font-size: 11px;
        }
        .divider {
            align-self: stretch;
            border: 1px solid rgba(119, 101, 71, 0.56);
        }
    }
}
