.MixSpacing_mt_0 {
    margin-top: 0 !important;
}
.MixSpacing_mt_auto {
    margin-top: auto !important;
}
.MixSpacing_mt_05x {
    margin-top: var(--spacing-05x) !important;
}
.MixSpacing_mt_1x {
    margin-top: var(--spacing-1x) !important;
}
.MixSpacing_mt_2x {
    margin-top: var(--spacing-2x) !important;
}
.MixSpacing_mt_3x {
    margin-top: var(--spacing-3x) !important;
}
.MixSpacing_mt_4x {
    margin-top: var(--spacing-4x) !important;
}
.MixSpacing_mt_5x {
    margin-top: var(--spacing-5x) !important;
}
.MixSpacing_mt_6x {
    margin-top: var(--spacing-6x) !important;
}
.MixSpacing_mt_8x {
    margin-top: var(--spacing-8x) !important;
}
.MixSpacing_mt_10x {
    margin-top: var(--spacing-10x) !important;
}
.MixSpacing_mt_12x {
    margin-top: var(--spacing-12x) !important;
}
.MixSpacing_mt_14x {
    margin-top: var(--spacing-14x) !important;
}
.MixSpacing_mt_16x {
    margin-top: var(--spacing-16x) !important;
}
.MixSpacing_mt_18x {
    margin-top: var(--spacing-18x) !important;
}
.MixSpacing_mt_20x {
    margin-top: var(--spacing-20x) !important;
}
.MixSpacing_mr_0 {
    margin-right: 0 !important;
}
.MixSpacing_mr_auto {
    margin-right: auto !important;
}
.MixSpacing_mr_05x {
    margin-right: var(--spacing-05x) !important;
}
.MixSpacing_mr_1x {
    margin-right: var(--spacing-1x) !important;
}
.MixSpacing_mr_2x {
    margin-right: var(--spacing-2x) !important;
}
.MixSpacing_mr_3x {
    margin-right: var(--spacing-3x) !important;
}
.MixSpacing_mr_4x {
    margin-right: var(--spacing-4x) !important;
}
.MixSpacing_mr_5x {
    margin-right: var(--spacing-5x) !important;
}
.MixSpacing_mr_6x {
    margin-right: var(--spacing-6x) !important;
}
.MixSpacing_mr_8x {
    margin-right: var(--spacing-8x) !important;
}
.MixSpacing_mr_10x {
    margin-right: var(--spacing-10x) !important;
}
.MixSpacing_mr_12x {
    margin-right: var(--spacing-12x) !important;
}
.MixSpacing_mr_14x {
    margin-right: var(--spacing-14x) !important;
}
.MixSpacing_mr_16x {
    margin-right: var(--spacing-16x) !important;
}
.MixSpacing_mr_18x {
    margin-right: var(--spacing-18x) !important;
}
.MixSpacing_mr_20x {
    margin-right: var(--spacing-20x) !important;
}
.MixSpacing_mb_0 {
    margin-bottom: 0 !important;
}
.MixSpacing_mb_auto {
    margin-bottom: auto !important;
}
.MixSpacing_mb_05x {
    margin-bottom: var(--spacing-05x) !important;
}
.MixSpacing_mb_1x {
    margin-bottom: var(--spacing-1x) !important;
}
.MixSpacing_mb_2x {
    margin-bottom: var(--spacing-2x) !important;
}
.MixSpacing_mb_3x {
    margin-bottom: var(--spacing-3x) !important;
}
.MixSpacing_mb_4x {
    margin-bottom: var(--spacing-4x) !important;
}
.MixSpacing_mb_5x {
    margin-bottom: var(--spacing-5x) !important;
}
.MixSpacing_mb_6x {
    margin-bottom: var(--spacing-6x) !important;
}
.MixSpacing_mb_8x {
    margin-bottom: var(--spacing-8x) !important;
}
.MixSpacing_mb_10x {
    margin-bottom: var(--spacing-10x) !important;
}
.MixSpacing_mb_12x {
    margin-bottom: var(--spacing-12x) !important;
}
.MixSpacing_mb_14x {
    margin-bottom: var(--spacing-14x) !important;
}
.MixSpacing_mb_16x {
    margin-bottom: var(--spacing-16x) !important;
}
.MixSpacing_mb_18x {
    margin-bottom: var(--spacing-18x) !important;
}
.MixSpacing_mb_20x {
    margin-bottom: var(--spacing-20x) !important;
}
.MixSpacing_ml_0 {
    margin-left: 0 !important;
}
.MixSpacing_ml_auto {
    margin-left: auto !important;
}
.MixSpacing_ml_05x {
    margin-left: var(--spacing-05x) !important;
}
.MixSpacing_ml_1x {
    margin-left: var(--spacing-1x) !important;
}
.MixSpacing_ml_2x {
    margin-left: var(--spacing-2x) !important;
}
.MixSpacing_ml_3x {
    margin-left: var(--spacing-3x) !important;
}
.MixSpacing_ml_4x {
    margin-left: var(--spacing-4x) !important;
}
.MixSpacing_ml_5x {
    margin-left: var(--spacing-5x) !important;
}
.MixSpacing_ml_6x {
    margin-left: var(--spacing-6x) !important;
}
.MixSpacing_ml_8x {
    margin-left: var(--spacing-8x) !important;
}
.MixSpacing_ml_10x {
    margin-left: var(--spacing-10x) !important;
}
.MixSpacing_ml_12x {
    margin-left: var(--spacing-12x) !important;
}
.MixSpacing_ml_14x {
    margin-left: var(--spacing-14x) !important;
}
.MixSpacing_ml_16x {
    margin-left: var(--spacing-16x) !important;
}
.MixSpacing_ml_18x {
    margin-left: var(--spacing-18x) !important;
}
.MixSpacing_ml_20x {
    margin-left: var(--spacing-20x) !important;
}
.MixSpacing_pt_0 {
    padding-top: 0 !important;
}
.MixSpacing_pt_auto {
    padding-top: auto !important;
}
.MixSpacing_pt_05x {
    padding-top: var(--spacing-05x) !important;
}
.MixSpacing_pt_1x {
    padding-top: var(--spacing-1x) !important;
}
.MixSpacing_pt_2x {
    padding-top: var(--spacing-2x) !important;
}
.MixSpacing_pt_3x {
    padding-top: var(--spacing-3x) !important;
}
.MixSpacing_pt_4x {
    padding-top: var(--spacing-4x) !important;
}
.MixSpacing_pt_5x {
    padding-top: var(--spacing-5x) !important;
}
.MixSpacing_pt_6x {
    padding-top: var(--spacing-6x) !important;
}
.MixSpacing_pt_8x {
    padding-top: var(--spacing-8x) !important;
}
.MixSpacing_pt_10x {
    padding-top: var(--spacing-10x) !important;
}
.MixSpacing_pt_12x {
    padding-top: var(--spacing-12x) !important;
}
.MixSpacing_pt_14x {
    padding-top: var(--spacing-14x) !important;
}
.MixSpacing_pt_16x {
    padding-top: var(--spacing-16x) !important;
}
.MixSpacing_pt_18x {
    padding-top: var(--spacing-18x) !important;
}
.MixSpacing_pt_20x {
    padding-top: var(--spacing-20x) !important;
}
.MixSpacing_pr_0 {
    padding-right: 0 !important;
}
.MixSpacing_pr_auto {
    padding-right: auto !important;
}
.MixSpacing_pr_05x {
    padding-right: var(--spacing-05x) !important;
}
.MixSpacing_pr_1x {
    padding-right: var(--spacing-1x) !important;
}
.MixSpacing_pr_2x {
    padding-right: var(--spacing-2x) !important;
}
.MixSpacing_pr_3x {
    padding-right: var(--spacing-3x) !important;
}
.MixSpacing_pr_4x {
    padding-right: var(--spacing-4x) !important;
}
.MixSpacing_pr_5x {
    padding-right: var(--spacing-5x) !important;
}
.MixSpacing_pr_6x {
    padding-right: var(--spacing-6x) !important;
}
.MixSpacing_pr_8x {
    padding-right: var(--spacing-8x) !important;
}
.MixSpacing_pr_10x {
    padding-right: var(--spacing-10x) !important;
}
.MixSpacing_pr_12x {
    padding-right: var(--spacing-12x) !important;
}
.MixSpacing_pr_14x {
    padding-right: var(--spacing-14x) !important;
}
.MixSpacing_pr_16x {
    padding-right: var(--spacing-16x) !important;
}
.MixSpacing_pr_18x {
    padding-right: var(--spacing-18x) !important;
}
.MixSpacing_pr_20x {
    padding-right: var(--spacing-20x) !important;
}
.MixSpacing_pb_0 {
    padding-bottom: 0 !important;
}
.MixSpacing_pb_auto {
    padding-bottom: auto !important;
}
.MixSpacing_pb_05x {
    padding-bottom: var(--spacing-05x) !important;
}
.MixSpacing_pb_1x {
    padding-bottom: var(--spacing-1x) !important;
}
.MixSpacing_pb_2x {
    padding-bottom: var(--spacing-2x) !important;
}
.MixSpacing_pb_3x {
    padding-bottom: var(--spacing-3x) !important;
}
.MixSpacing_pb_4x {
    padding-bottom: var(--spacing-4x) !important;
}
.MixSpacing_pb_5x {
    padding-bottom: var(--spacing-5x) !important;
}
.MixSpacing_pb_6x {
    padding-bottom: var(--spacing-6x) !important;
}
.MixSpacing_pb_8x {
    padding-bottom: var(--spacing-8x) !important;
}
.MixSpacing_pb_10x {
    padding-bottom: var(--spacing-10x) !important;
}
.MixSpacing_pb_12x {
    padding-bottom: var(--spacing-12x) !important;
}
.MixSpacing_pb_14x {
    padding-bottom: var(--spacing-14x) !important;
}
.MixSpacing_pb_16x {
    padding-bottom: var(--spacing-16x) !important;
}
.MixSpacing_pb_18x {
    padding-bottom: var(--spacing-18x) !important;
}
.MixSpacing_pb_20x {
    padding-bottom: var(--spacing-20x) !important;
}
.MixSpacing_pl_0 {
    padding-left: 0 !important;
}
.MixSpacing_pl_auto {
    padding-left: auto !important;
}
.MixSpacing_pl_05x {
    padding-left: var(--spacing-05x) !important;
}
.MixSpacing_pl_1x {
    padding-left: var(--spacing-1x) !important;
}
.MixSpacing_pl_2x {
    padding-left: var(--spacing-2x) !important;
}
.MixSpacing_pl_3x {
    padding-left: var(--spacing-3x) !important;
}
.MixSpacing_pl_4x {
    padding-left: var(--spacing-4x) !important;
}
.MixSpacing_pl_5x {
    padding-left: var(--spacing-5x) !important;
}
.MixSpacing_pl_6x {
    padding-left: var(--spacing-6x) !important;
}
.MixSpacing_pl_8x {
    padding-left: var(--spacing-8x) !important;
}
.MixSpacing_pl_10x {
    padding-left: var(--spacing-10x) !important;
}
.MixSpacing_pl_12x {
    padding-left: var(--spacing-12x) !important;
}
.MixSpacing_pl_14x {
    padding-left: var(--spacing-14x) !important;
}
.MixSpacing_pl_16x {
    padding-left: var(--spacing-16x) !important;
}
.MixSpacing_pl_18x {
    padding-left: var(--spacing-18x) !important;
}
.MixSpacing_pl_20x {
    padding-left: var(--spacing-20x) !important;
}
